header{
    display: flex;
    font-size: larger;
}
h1{
    font-family: 'Pacifico', cursive;
    font-size: 170%;
}
nav{
    display: flex;
    margin-right: 2%;
}
#wifi{
    margin-left: .6%;
}
img{
    display: flex;
    margin: .1%;
    height: 2%;
    width: 2;
}
body{
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 5%;
}
#fb{
    margin-left: 43%;
}
.hero-image{
    background-image: url(/img/hr-img.png);
    height: 20px;
    margin-top: 3%;
}
li{
    font-family: 'PT Sans Narrow', sans-serif;
}
ul{
    margin-left: .6%;
}
h2{
    font-family: 'Passion One', cursive;
    font-size: 240%;
    margin-top: 30%;
}
#p2{
    font-size: small;
    margin-bottom: 3%;
}
#s2{
    font-size: xx-large;
}
