header{
    display: flex;
    font-size: larger;
}
h1{
    font-family: 'Pacifico', cursive;
    font-size: 170%;
}
nav{
    display: flex;
    margin-right: 2%;
}
#wifi{
    margin-left: .6%;
}
img{
    display: flex;
    margin: .1%;
    height: 2%;
    width: 2;
}
body{
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 5%;
}
#fb{
    margin-left: 43%;
}
.hero-image{
    background-image: url(/img/hr-img.png);
    height: 20px;
    margin-top: 3%;
}
li{
    font-family: 'PT Sans Narrow', sans-serif;
}
ul{
    margin-left: .6%;
}
h2{
    font-family: 'Passion One', cursive;
    font-size: 240%;
    margin-top: 30%;
}
#p2{
    font-size: small;
    margin-bottom: 9%;
}
#s2{
    font-size: x-large;
    padding: .5%;
}
#s3{
    font-size: x-large;
    padding: .5%;
}
p{
    margin-bottom: 2.8%;
    margin-top: 2%;
    width: fit-content;
    font-size: large;
}
#l2{
    margin-top: .1%;
    width: 75%;
}
#img4{
    margin-top: 2%;
    height: 50px;
}
#ul3{
    margin-top: 2%;
}
#l4{
    background-color: lightcoral;
    width: 15%;
    padding: 15px;
    margin-left: 120%;
    color: white;
}
#img6{
    margin: auto;
    margin-top: 4%;
}
footer{
    margin-top: 2%;
    font-size: small;
    color: grey;
}